* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: rgb(19, 19, 158);
    display: flex;
    justify-content: center;
}

h1{
    position: absolute;
    color: whitesmoke;
    text-align: center;
    padding: 50px;
    font-size: 40px;
}

main{
    height: 100vh;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.swiper {
    width: 100%;
    margin-top: 250px; 
    height: 100vh;

}

.swiper-slide{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-img {
    width: 100%;
    img{
        width: 10em;
        margin-left: 40px;
        box-shadow: 1px -6px 80px white;
        border-radius: 20px;
        
    }

    p{
        margin-top: 90px;
        font-weight: 100;
        font-size:large;
        text-align: center;
        color: white; 
    }
}

.swiper-pagination{
    margin-bottom: 240px;
}

.swiper-button-next{
    
    
}

.button{
    margin-bottom: -200px;
    position: absolute;
}

@media (max-width: 500px) {
    .swiper{
        height: 270px;
    }
}















.container{
    width: 500px; 
    margin-left: auto;
    margin-right: auto;
    
    
    .carossel{
        
    .central {
        width: 500px;
               
        .characterSmall {
            display: none;
           margin-bottom: 110px; 
           
           width: 200px;
           height: 350px;
           box-shadow: 1px -6px 80px white;
           border-radius: 20px;
           
           
        }
        .character {
            display: none;
            width: 18em;
            margin-left: 40px;
            box-shadow: 1px -6px 80px white;
            border-radius: 20px;    
        } 
    }
        p{
            display: none;
        text-align: center;
        color: white;
    }
    }


}



