* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: rgb(19, 19, 158);
    display: flex;
    justify-content: center;
    
}

h1{
    font-family: 'Anton', sans-serif;
    letter-spacing: 3px;
    position: absolute;
    color: whitesmoke;
    text-align: center;
    padding-top: 15px;
    font-size: 40px;
    
}

main{
    height: 100vh;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    position: relative;
    
}

.swiper {
    margin-top: 180px;
    width: 100%;
    height: 100%;
}

.swiper-slide{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-img {
    margin-top: 10px;
    height: 100vh;
    position: absolute;
    img{
        margin-top: 20px;
        width: 16%;
        box-shadow: 1px -6px 80px white;
        border-radius: 20px;
    }

    p{
        font-family:'Montserrat', sans-serif;
        line-height: 25px;
        margin: 70px 50px 40px 40px;
        font-weight: 100;
        font-size:large;
        text-align: center;
        color: white; 
    }
}

.swiper-pagination{
    margin-bottom: 270px;
}

.swiper-button-next:after{
    margin: -260px 1140px 0 600px;
}

.swiper-button-prev::after {
    margin: -260px 0 0 540px;
}

.footer {
    margin: 40px 0 10px 0;
    a {
        font-family: 'Montserrat', sans-serif;
        font-size: small;
        text-decoration: none;
        color: white;
    } 
    span {
        font-size: small;
        font-family: 'Montserrat', sans-serif;
        color: white;
    }
}

@media (max-width: 480px) {
    h1 {
      font-size:12px;
    }
}

@media (max-width: 480px) {
    p {
      font-size:20px;
    }
}

@media (max-width: 480px) {
    .project-img  img{
       width: 50%;
    }
}

@media (max-width: 480px) {
    .swiper-button-next:after{
        margin: -260px 40px 0 0;
    }
}

@media (max-width: 480px) {
    .swiper-button-prev::after {
        margin: -260px 0 0 40px;
    }
}

@media (max-width: 359px) {
    .swiper-pagination{
        margin-bottom: 180px;
    }
}



 



