* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(19, 19, 158);
}

h1{
    color: whitesmoke;
    text-align: center;
    padding: 50px;
    margin-bottom: 20px;
    font-size: 40px;
}

.container{
    width: 500px; 
    margin-left: auto;
    margin-right: auto;
    
    .carossel{
        
    
    .central {
        width: 500px;
                   
        .characterSmall {
           margin-bottom: 110px;   
           width: 150px;
           box-shadow: 1px -6px 80px white;
           border-radius: 20px;
           
        }
        .character {
            width: 18em;
            margin-left: 40px;
            box-shadow: 1px -6px 80px white;
            border-radius: 20px;    
        }  
    }
        p{
        text-align: center;
        color: white;
    }
    }
    
}

